<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="Belépés"
			 connectionString="Data Source=DESKTOP-5F2UES1\SQLEXPRESS;Initial Catalog=Felhaszanalok;User ID=sa;Password=Sinedd19930729;" />

		<add name="AutokSzerviz"
			 connectionString="Data Source=DESKTOP-5F2UES1\SQLEXPRESS;Initial Catalog=AutókésSzerviz;Persist Security Info=True;User ID=sa;Password=Sinedd19930729;Encrypt=False;" />
	</connectionStrings>
	
</configuration>